<div class="container">
    <div class="options">
        <div>
            <h4>Height</h4>
            <mat-slider
                class="example-margin"
                [max]="1000"
                [min]="100"
                [thumbLabel]="true"
                [(ngModel)]="height"
            >
            </mat-slider>
        </div>
        <div>
            <h4>Autohide</h4>
            <mat-slide-toggle
                [checked]="autoHide"
                (change)="onChangeAutoHide($event)"
                >Hide scrollbar when not scrolling</mat-slide-toggle
            >
        </div>
        <h4>Actions</h4>
        <div class="actions">
            <button mat-flat-button color="primary" (click)="generateLoremIpsum()">
                <mat-icon>add</mat-icon>Add more content
            </button>
            <button mat-flat-button color="warn" (click)="scrollTop()">
                <mat-icon>arrow_upward</mat-icon>Scroll to Top
            </button>
            <button mat-flat-button color="accent" (click)="scrollBottom()">
                <mat-icon>arrow_downward</mat-icon>Scroll to Bottom
            </button>
        </div>
        <div class="events">
            <h4>Events</h4>
            <div *ngIf="!events.length">No events yet.</div>
            <div class="event" *ngFor="let ev of (events | slice: -5)">
                [{{ ev.timestamp | date: 'h:mm:ss' }}] Reached {{ ev.target }}
            </div>
        </div>
    </div>
    <scrollable
        [height]="height"
        [autoHide]="autoHide"
        #scrollable
        (reachedTop)="onReachedTop()"
        (reachedBottom)="onReachedBottom()"
    >
        <div class="content" [innerHTML]="content"></div>
    </scrollable>
</div>
