.container {
    display: grid;
    grid-template-columns: 30% 70%;

    .options {
        padding: 20px 40px;

        mat-slider {
            width: 100%;
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}