.options {
    width: 100%;
    float: left;
    padding: 20px 40px;

    mat-slider {
        width: 100%;
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        button {
            margin-bottom: 8px;
            margin-right: 10px;
        }
    }
}

@supports (display: grid) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .options {
            width: unset;
        }
    }
}

@media all and (min-width: 991px) {
    .options {
        width: 30%;
    }

    @supports (display: grid) {
        .container {
            grid-template-columns: 30% 70%;
        }
    }
}
