.example-icon {
    padding: 0 14px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 54px !important;
    font-size: 17px;
}

.example-spacer {
    flex: 1 1 auto;
}

.logo,
.title {
    padding-left: 0.5rem;
    color: white;
    text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.container {
    display: flex;
    height: calc(100vh - 54px);
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
