<form class="example-form" [ngStyle]="{'width': width}">
    <mat-form-field class="full-width">
        <ng-container *ngIf="multiple; else: single">
            <mat-chip-list #chipList selectable="true">
                <mat-chip
                    *ngFor="let ticker of selectedTickers"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(ticker)"
                >
                    {{ ticker }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                    #input
                    type="text"
                    [placeholder]="placeholder"
                    aria-label="Number"
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)"
                />
            </mat-chip-list>
        </ng-container>
        <ng-template #single>
            <input
                #input
                type="text"
                [placeholder]="placeholder"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
            />
        </ng-template>
        <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption="true"
            (optionSelected)="tickerSelected($event)"
        >
            <mat-option
                *ngFor="let option of (filteredOptions | async)"
                [value]="option.symbol"
            >
                <div>
                    <span class="mat-h4 symbol">{{ option.symbol }}</span>
                    <span class="mat-small company">{{ option.company }}</span>
                </div>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
