<form class="example-form">
    <mat-form-field class="full-width">
        <input
            type="text"
            placeholder="Input a ticker here..."
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete
            #auto="matAutocomplete"
            autoActiveFirstOption="true"
            (optionSelected)="tickerSelected($event)"
        >
            <mat-option
                *ngFor="let option of (filteredOptions | async)"
                [value]="option.symbol"
            >
                <div>
                    <span class="mat-h4 symbol">{{ option.symbol }}</span>
                    <span class="mat-small company">{{ option.company }}</span>
                </div>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
