.container {
    max-width: 1200px !important;
    margin: auto;
    left: 20px;
    right: 20px;
    top: 55px;
    bottom: 180px;
}

.card {
    margin-bottom: 20px;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.duration-select {
    margin-left: 10px;
}

.subtitle {
    display: inline-block;
    margin-left: 10px;
}

.box {
    text-align: center;
}

.no-in-duration {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duration-toggle-box,
.mat-button-toggle-group {
    width: 100%;
}

.mat-button-toggle-group {
    border: none;
}

.mat-button-toggle {
    flex-grow: 1;
    flex-basis: 0;
    border: none !important;
    background: transparent;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12) !important;
}

.mat-button-toggle-checked {
    background: transparent;
    border-bottom: solid 2px black !important;
}

.flat-link {
    display: block;
}