<div
    class="container"
    *ngIf="graphInput.data.length > 0; else: noResult"
    style="position: absolute;"
>
    <div class="card" *ngIf="company">
        <span class="mat-headline">{{ company.company }}</span>
        <span class="subtitle mat-small">{{ symbol }}</span>
        <div class="duration">
            <mat-spinner diameter="18" *ngIf="reloading"></mat-spinner>
            <mat-form-field class="duration-select">
                <mat-select
                    [(ngModel)]="chosenDuration"
                    (selectionChange)="durationChanged($event)"
                >
                    <mat-option
                        *ngFor="let duration of durations"
                        [value]="duration.duration"
                        >{{ duration.label }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <app-search
            width="600px"
            placeholder="Compare to: "
            multiple="true"
            [dontShowThis]="[symbol]"
            (onTickerSelected)="addComparison($event)"
            (onTickerDeleted)="deleteComparison($event)"
        ></app-search>
    </div>
    <ng-container *ngIf="graphInput.data[0].series.length > 0; else: noData">
        <ngx-charts-line-chart
            [scheme]="'picnic'"
            showGridLines="false"
            [results]="graphInput.data"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="graphInput.data.length > 1"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [autoScale]="true"
            [timeline]="false"
        >
        </ngx-charts-line-chart>
    </ng-container>
    <ng-template #noData>
        <div class="no-in-duration">
            <app-not-found
                message="We have no data for this sticker in this timeframe."
                [showHomeLink]="false"
            ></app-not-found>
        </div>
    </ng-template>
</div>
<ng-template #noResult>
    <ng-container *ngIf="loading; else: elseTemplate">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-template #elseTemplate>
        <app-not-found
            message="We can't find any data associated with this ticker."
        ></app-not-found>
    </ng-template>
</ng-template>
