.container {
    max-width: 1200px !important;
    margin: auto;
    left: 20px;
    right: 20px;
    top: 55px;
    bottom: 150px;
}

.card {
    margin-bottom: 20px;
}

.duration {
    float: right;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.duration-select {
    margin-left: 10px;
}

.subtitle {
    display: inline-block;
    margin-left: 10px;
}